.product {
  width: 320px;
  height: 480px;
  font-family: 'Trebuchet MS', sans-serif;
  background-color: #fefefe;
  background-image: url(../img/cat-preview.png);
  background-repeat: no-repeat;
  background-position: -30px 210px;
  border-radius: 5px;
}
.product:not(:last-child) {
  margin-right: 80px;
}

.product-pretitle,
.product-title,
.product-taste,
.product-amount,
.product-bonus {
  margin: 0 0 0 38px;
}

.product-pretitle {
  font-size: 16px;
  color: #666666;
  margin-top: 24px;
}


.product-title {
  font-size: 48px;
  font-weight: bold;
  color: #000000;
}

.product-taste {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
}

