.product-list {
  width: 100vw;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 100;
}

/* @media (min-width: 639px) and (max-width: 1119px) {
  .product-list {
    justify-content: space-around;
  }
} */
