.product-wrapper {
  display: flex;
  width: 320px;
  flex-direction: column;
  align-items: center;
}


label {
  display: flex;
  width: 320px;
  height: 480px;
  -webkit-clip-path: polygon(45px 0px, 320px 0px, 320px 480px, 0px 480px, 0px 45px);
  clip-path: polygon(45px 0px, 320px 0px, 320px 480px, 0px 480px, 0px 45px);
}

.product {
  width: 320px;
  height: 480px;
  font-family: 'Trebuchet MS', sans-serif;
  background-color: #f2f2f2;
  background-image: url(../img/cat-preview.png);
  background-repeat: no-repeat;
  background-position: -24px 207px;
  border-radius: 10px;
}


.product-wrapper:not(:last-child) {
  /* margin-right: 80px; */
  /* margin-bottom: 80px; */
}

.product-pretitle,
.product-title,
.product-taste,
.product-amount,
.product-bonus {
  margin: 0;
}

.product-pretitle {
  font-size: 16px;
  color: #666666;
  padding-top: 21px;
  margin-left: 48px;
  margin-bottom: 5px;
}


.product-title {
  font-size: 48px;
  font-weight: bold;
  color: #000000;
  margin-left: 46px;
  margin-bottom: -2px;
  
}

.product-taste {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin-left: 48px;
  margin-bottom: 14px;
}

.product-amount,
.product-bonus {
  font-size: 14px;
  margin-left: 49px;
}

.product-details {
  /* margin-top: 10px; */
  /* margin-right: 3px; */
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 13px;
  color: #ffffff;
}

.product-weight {
  font-family: 'Trebuchet MS', sans-serif;
  fill: #ffffff;
  text-anchor: middle;
}

.product-weight tspan:first-child {
  font-size: 42px;
}

.product-weight tspan:last-child {
  font-size: 21px;
}

input[type='checkbox'] {
  display: none;
}




@media (min-width: 1120px) {
  .product-wrapper:not(:last-child) {
    margin-right: 80px;
  }
}

@media (min-width: 1040px) and (max-width: 1119px) {

  .product-wrapper:not(:last-child) {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (min-width: 800px) and (max-width: 1039px) {

  .product-wrapper:not(:nth-child(n+2)) {
    margin-right: 80px;
  }
}


@media (min-width: 640px) and (max-width: 799px) {

  .product-wrapper {
    margin: 0 auto;
  }
}