.product-wrapper {
  -webkit-clip-path: polygon(45px 0px, 320px 0px, 320px 480px, 0px 480px, 0px 45px);
  clip-path: polygon(45px 0px, 320px 0px, 320px 480px, 0px 480px, 0px 45px);
}

.product {
  width: 320px;
  height: 480px;
  font-family: 'Trebuchet MS', sans-serif;
  background-color: #f2f2f2;
  background-image: url(../img/cat-preview.png);
  background-repeat: no-repeat;
  background-position: -30px 210px;
  border-radius: 5px;
}


.product-wrapper:not(:last-child) {
  margin-right: 80px;
}

.product-pretitle,
.product-title,
.product-taste,
.product-amount,
.product-bonus {
  margin: 0 0 0 38px;
}

.product-pretitle {
  font-size: 16px;
  color: #666666;
  padding-top: 24px;
}


.product-title {
  font-size: 48px;
  font-weight: bold;
  color: #000000;
}

.product-taste {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
}

input[type='checkbox'] {
  display: none;
}






@media (max-width: 1119px) {
  .product-wrapper:not(:last-child) {
    margin-bottom: 80px;
  }
  .product-wrapper:not(:nth-child(2n + 2)) {
    margin-right: 80px;
  }
}