.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: center;
  font-family: 'Exo2.0-Thin';
  font-size: 36px;
  color: #ffffff;
  margin-top: 2px;
  margin-bottom: 23px;
  z-index: 100;
}